.ask-btn {
	display: inline-block;
	margin-left: 40%;
}

.question {
	background: whitesmoke;
	border: solid 3px green;
	margin-bottom: 30px;
	padding: 20px 0px;
}

.QuestionSorting {
	margin-bottom: 15px;
}

.QuestionSortingText {
	font-size: 20px;
	font-family: arial;
	text-align: center;
	padding: 10px 0px 10px 0px;
	background: #eaecea;
}

.navbar {
	margin: 10px 3%;
}

.rightPanel {
	margin-left: 30px;
}

.likeButton {
	margin: 8px 0px 0px 8px;
	margin-left: 20%;
	height: 25px;
	width: 100px;
}

.likeCount {
	margin-left: 18px;
}

.dislikeCount {
	margin-left: 4px;
}

.form-horizontal  {
    margin-left: -14%;
}

.loginErrorMargin {
	margin-left: 12%;
	margin-right: 20%;
}

.navbarMarg {
	margin-top: 5px;
}

.signUpErrorMargin {
	margin-left: 2%;
}

