<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title>AskRum</title>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<img src="/logo.png" width="48" height="48" class="pull-left" style="margin-left: 10px; margin-top: 2px" >
				<a class="brand" style="margin-left: 1px; margin-top: 5px" href="/">AskRum</a>
				<form class="navbar-form pull-left" style="margin-top: 5px">
  					<input type="text" placeholder="Search..." class="span2 search-query">
				</form>

				<ul style="display: block" class="nav pull-right">
					<li><a href="/login/">Login</a></li>
      				<li><a href="/signup/">Register</a></li>
				</ul>
				<div class="pull-right navbarMarg">
					<a href="/profile/" style="margin-right:30px; font: 12pt italic"><ins>Mr.Pupkin</ins></a>
					<br><a href="/logout/">Logout</a>
				</div>
				<img src="/user.jpg" width="40" height="40" class="pull-right navbarMarg" style="margin-right: 30px">
				<a href="/ask/" style="margin-right: 5%; margin-top: 8px" class="btn btn-success pull-right">ASK</a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="span9">
					{% block main %}
					{% endblock %}
				</div>

				<div class="span3">
					<div class="rightPanel">
						<h3>Popular tags</h3>
						<a href="#">tag1</a>
						<br><a href="#">tag2</a>
						<br><a href="#">tag3</a>

						<h3>Best users</h3>
						<ul>
						  <li><a href="#">Me</a></li>
						  <li><a href="#">Vasya</a></li>
						  <li><a href="#">SuperMind</a></li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>