{% extends "base.html" %}

{% block main %}


<div class="QuestionSorting row">
	<div class="span3 QuestionSortingText">
		<a href="#"  >Best questions</a>
	</div>
	<div class="span3 QuestionSortingText">
		<a href="#"  >Last questions</a>
	</div>
	<div class="span3 QuestionSortingText">
		<a href="#"  >Your questions</a>
	</div>
</div>


{% for i in "12345" %}
<div class="question row">
	<div class="row">
		<div class="span2">
			<img src="/Kappa.png" style="margin-left: 5px; border-radius: 30px 30px 30px 30px">

			<button class="btn btn-small btn-success likeButton">like<span class="badge badge-success likeCount">101</span></button>
			<button class="btn btn-small btn-danger likeButton">dislike<span class="badge badge-inverse dislikeCount">102</span></button>
		</div>

		<div class="span7">
			<h4><a href="#">How to don't die in Baumanka</a></h4>
			<p>Text: Help me, please!</p>
			<br><a href="#" class="pull-left">answer <span class="badge badge-success">101</span></a>
			<br><h5>Tags:</h5>
			<a href="#">big problems</a>
		</div>
	</div>
</div>
{% endfor %}

<div class="pagination">
	<ul>
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>

{% endblock %}