{% extends "base.html" %}

{% block main %}

<legend><h2>Log In</h2></legend>

<form class="form-horizontal" >
  <div class="control-group alert alert-error loginErrorMargin">
  	Incorrect data
  </div>
  <div class="control-group" >
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Log in</button>
    </div>
  </div>
</form>
{% endblock %}