{% extends "base.html" %}

{% block main %}
<legend><h2>Registration</h2></legend>

<form class="form-horizontal" >
  <div class="control-group" >
    <label class="control-label" for="inputLogin">Choose Login</label>
    <div class="controls">
      <input type="text" id="inputLogin" placeholder="Login">
      <span class="alert alert-error signUpErrorMargin">Already used</span>
    </div>

  </div>
  <div class="control-group" >
    <label class="control-label" for="inputEmail">Your Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
      <span class="alert alert-error signUpErrorMargin">Too easy</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign up!</button>
    </div>
  </div>
</form>
{% endblock %}